<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/website/templates/css/style.css">
</head>
<body>

    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/website/templates/html/index.html">
                <img src="/website/templates/images/logo.png" alt="Dublin Bikes Logo">
            </a>
        </div>
        <div class="navbar-links">
            <a href="availability.html">MAP</a>
            <a href="faq.html">FAQ</a>
            <a href="analytics.html">ANALYTICS</a>
        </div>
    </nav>


    <!-- Dublin Bikes Heading -->
    <h1 class="dublin-bikes-heading">Dublin Bikes</h1>
    
    <!--Login Container-->
    <div class="login-container">
        <h4>Login</h4>
        
        <form class="login-form">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            
            <a href="#" class="forgot-password">
                <span class="forgot-text">Forgot password?</span>
                <span class="reset-text">Reset it here</span>
            </a>
            <button type="submit" class="login-button">LOGIN</button>
        </form>
        
        <p class="register-link">Don't have an account? <a href="/website/templates/html/signup.html">Register</a></p>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <a href="signup.html">Sign Up</a>
            <a href="contact.html">Contact Us</a>
            <a href="terms.html">Terms and Conditions</a>
            <a href="cookies.html">Cookie Preferences</a>
        </div>
    </footer>    

</body>
</html>