<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/website/templates/css/style.css">
</head>
<body>

    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/website/templates/html/index.html">
                <img src="/website/templates/images/logo.png" alt="Dublin Bikes Logo">
            </a>
        </div>
        <div class="navbar-links">
            <a href="availability.html">MAP</a>
            <a href="faq.html">FAQ</a>
            <a href="analytics.html">ANALYTICS</a>
        </div>
    </nav>

    <!-- Dublin Bikes Heading -->
    <h1 class="dublin-bikes-heading">Dublin Bikes</h1>

    <!-- Sign Up Container -->
    <div class="signup-container">
        <h4>Register</h4>
        
        <form class="signup-form">
            
            <div class="name-fields">
                <div class="form-group">
                    <input type="text" id="first-name" name="first-name" placeholder="First Name" required>
                </div>
            
                <div class="form-group">
                    <input type="text" id="last-name" name="last-name" placeholder="Last Name" required>
                </div>
            </div>
            
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="register-button">REGISTER</button>
        </form>
        
        <p class="login-link">Already have an account? <a href="login.html">Login</a></p>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <a href="signup.html">Sign Up</a>
            <a href="contact.html">Contact Us</a>
            <a href="terms.html">Terms and Conditions</a>
            <a href="cookies.html">Cookie Preferences</a>
        </div>
    </footer>
</body>
</html>