<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Map</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Google Maps API -->
    </head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for("index")}}">
              <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt="Dublin Bikes Logo"
              />
            </a>
          </div>
          <div class="temperature">
              <p>{{weatherData["main"]["temp"]}}°C</p>
              <img src="{{weatherData["icon"]}}" alt="">
          </div>
          <div class="navbar-links">
            <a href="{{ url_for("map") }}">MAP</a>
            <a href="faq.html">FAQ</a>
            <a href="analytics.html">ANALYTICS</a>
            <a href="{{ url_for("logout") }}">LOGOUT</a>
          </div>
    </nav>

    <!-- Button Container -->
    <div class="map-button-container">
        <button class="map-button" disabled onclick="handleButtonClick(event)">Available Bikes</button>
        <button class="map-button disabled" onclick="handleButtonClick(event)">Available Spaces</button>
    </div>
    
    <!-- Map Container -->
    <div id="map"></div>
    
    <div class="sidebar">
        <img class="sidebar-image" src="./../static/images/bike.png">
        <div class="close-button">
            <div></div>
            <div></div>
        </div>
        <div class="sidebar-head">
            <h3 class="heading"></h3>
        </div>

        <div class="sidebar-content">
            <div>
                <span class="bikes-number"></span>
                <img src="{{ url_for('static', filename='images/bike.png') }}" alt="Bike image" class="bike-image">
            </div>
            <div>
                <span class="spaces-number">P</span>
            </div>
        </div>
    </div>

    <script>
        const mapData = JSON.parse('{{ jcdecauxData | tojson | safe }}');
        const weatherData = JSON.parse('{{ weatherData | tojson | safe }}');
        const googleapis = JSON.parse('{{ googleMapApiKey | tojson | safe }}')
    </script>
    <script src='{{ url_for('static', filename='js/script.js') }}'></script>
    <script src={{"https://maps.googleapis.com/maps/api/js?" + "key=" + googleMapApiKey + "&callback=initMap"}} async defer></script>
</body>
</html>