<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Map</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Google Maps API -->
    </head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for("index") }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Dublin Bikes Logo">
            </a>
        </div>
        <div class="navbar-links">
            <a href="{{ url_for("map") }}">Map</a>
            <a href="faq.html">FAQ</a>
            <a href="analytics.html">Analytics</a>
        </div>
    </nav>

    <div class="sidebar">
        <div class="sidebar-head">
            <h3 class="heading"></h3>
            <div class="close-button">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="sidebar-content">
            <div>
                <span class="bikes-number"></span>
                <img src="{{ url_for('static', filename='images/bike.png') }}" alt="Bike image" class="bike-image">
            </div>
            <div>
                <span class="spaces-number">P</span>
            </div>
        </div>
    </div>
    
    <!-- Button Container -->
    <div class="map-button-container">
        <button class="map-button" disabled onclick="handleButtonClick(event)">Available Bikes</button>
        <button class="map-button disabled" onclick="handleButtonClick(event)">Available Spaces</button>
    </div>
    
    <!-- Map Container -->
    <div id="map"></div>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <a href="signup.html">Sign Up</a>
            <a href="contact.html">Contact Us</a>
            <a href="terms.html">Terms and Conditions</a>
            <a href="cookies.html">Cookie Preferences</a>
        </div>
    </footer>
    <script>
        const mapData = JSON.parse('{{ data | tojson | safe }}');
    </script>
    <script src='{{ url_for('static', filename='js/script.js') }}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbslibQUMQevXuyed3AVFSdroDFvSQ6EM&callback=initMap" async defer></script>
</body>
</html>