<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="main-wrapper">
      <!--Navbar-->
      <nav class="navbar">
          <div class="navbar-logo">
            <a href="{{ url_for("data.index") }}">
              <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt="Dublin Bikes Logo"
              />
            </a>
          </div>
          <div class="navbar-links">
            <a href="index">HOME</a>
            <a href="{{ url_for("data.map") }}">MAP</a>
            <a href="faq">FAQ</a>
            <a href="analytics.html">ANALYTICS</a>
            <a href="{{ url_for("auth.logout") }}">LOGOUT</a>
          </div>
        </nav>

      <section class="main-content">
        <!-- Dublin Bikes Heading -->
        <h1 class="dublin-bikes-heading">Dublin Bikes</h1>
    
        <h3 class="dublin-bikes-text">The easiest way to explore the city</h3>
    
        <!-- Image -->
        <div class="home-image">
          <img
            src="{{ url_for('static', filename='images/homepage.png') }}"
            alt="Dublin Bikes Image"
          />
        </div>
      </section>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-links">
        <a href="signup.html">Sign Up</a>
        <a href="contact.html">Contact Us</a>
        <a href="terms.html">Terms and Conditions</a>
        <a href="cookies.html">Cookie Preferences</a>
      </div>
    </footer>
  </body>
</html>
