<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="{{ url_for("data.index") }}">
          <img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="Dublin Bikes Logo"
          />
        </a>
      </div>
    </nav>

    <section class="main-content">

      <!-- Dublin Bikes Heading -->
      <h1 class="dublin-bikes-heading">Dublin Bikes</h1>
  
      <!--Login Container-->
      <div class="login-container">
        <h4>Login</h4>
  
        <form class="login-form" method="POST" action="/login">
          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
            
          <a href="#" class="forgot-password">
            <span class="forgot-text">Forgot password?</span>
            <span class="reset-text">Reset it here</span>
          </a>
          <button type="submit" class="login-button">LOGIN</button>
        </form>
  
        <p class="invalid {{ 'inactive' if is_active else '' }}">
          Invalid email or password
        </p>
  
        <p class="register-link">
          Don't have an account?
          <a href="{{ url_for("auth.signup") }}">Register</a>
        </p>
      </div>
    </section>  
    
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-links">
        <a href="signup.html">Sign Up</a>
        <a href="contact.html">Contact Us</a>
        <a href="terms.html">Terms and Conditions</a>
        <a href="cookies.html">Cookie Preferences</a>
      </div>
    </footer>
  </body>
</html>
